/* Search Location */

#searchLocation {
    padding: 25px;
    position: relative;
}
#searchLocation form {
    position: relative;
}
#searchLocation #location {
    width: 100%;
    margin-top: 30px;
    height: 2rem;
    padding: 2px;
}
#searchLocation #searchEmoji {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 1.8rem;
    cursor: pointer;
}

#suggest {
    padding: 5px 5px 0 5px;
    width: 100%;
    max-width: 500px;
    position: absolute;
    left: 0;
    bottom: 2.1rem;
    background-color: #f1f1f180;
    backdrop-filter: blur(20px);
}
#suggest .autocomplete {
    display: flex;
    align-items: flex-end;
}
#suggest .autocomplete:hover {
    cursor: pointer;
    background-color: #ffeeee;
}
#suggest .autocomplete .suggestIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
#suggest .autocomplete .cityName {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: right;
}